
.navbar img{
    width: 150px;
}
#body{
    background-color: #212529 !important;
}
#Hero-Section {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.container{
    background-color: #212529;
}
.experiencia{
    text-align: center;  
}
.trabajos{
    background-color: #212529;
    color: white;
}
.experiencia2{
    text-align: center;  
}
.habilidades{
    text-align: center;  
}
.conocimientos {
    text-align: center;
}
.acercademi{
    background-color: #212529;
}
.acercademi{
    color: #f8f9fa;
}
.acercademi li{
    color: #f8f9fa;
}
.pie{
	text-align: center;
}
.texto-footer{
    font-size: 20px;
}

